@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
}
.wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .header .menu {
  display: flex;
}
.wrapper .header .menu .menu__item {
  color: #222;
  font-weight: 700;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.4s;
}
.wrapper .header .menu .menu__item .item__line {
  width: 0%;
  background-color: #222;
  transition: width 0.4s;
}
.wrapper .header .menu .menu__item:hover, .wrapper .header .menu .menu__item.active {
  opacity: 1;
}
.wrapper .header .menu .menu__item:hover .item__line, .wrapper .header .menu .menu__item.active .item__line {
  width: 100%;
}
.wrapper .header .contacts {
  display: flex;
  align-items: center;
  gap: 30px;
}
.wrapper .header .contacts .contacts__link {
  color: black;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.4s;
  display: flex;
  align-items: center;
  gap: 6px;
}
.wrapper .header .contacts .contacts__link i {
  font-size: xx-large;
}
.wrapper .header .contacts .contacts__link:hover {
  opacity: 1;
}
.wrapper .header .contacts .contacts__link.gitflic .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  overflow: hidden;
  background-color: black;
}
.wrapper .header .contacts .contacts__link.gitflic .img-wrapper img {
  width: 95%;
  height: 95%;
}
.wrapper .content {
  display: flex;
  justify-content: center;
  min-width: 230px;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrapper .content .frame {
  width: 90%;
  display: none;
  height: 90%;
}
.wrapper .content .frame.active {
  display: grid;
  animation: 0.6s show-frame;
}
@keyframes show-frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper .content .frame .info {
  display: flex;
  flex-direction: column;
}
.wrapper .content .frame .info .info__header {
  font-weight: 700;
}
.wrapper .content .frame .info .marquee-container {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #555;
  color: #222;
}
.wrapper .content .frame .info .marquee-container .marquee span {
  text-transform: uppercase;
  margin-right: 30px;
  font-weight: 600;
}
.wrapper .content .frame .info .info__body {
  font-weight: 500;
}
.wrapper .content .frame .info .info__body a {
  text-decoration: none;
  color: orange;
}
.wrapper .content .frame .info .info__body ul .project {
  list-style-type: none;
  margin-top: 20px;
}
.wrapper .content .frame .info .info__body ul .project .project__name {
  font-weight: 500;
}
.wrapper .content .frame .info .info__body ul .project .project__code, .wrapper .content .frame .info .info__body ul .project .project__view, .wrapper .content .frame .info .info__body ul .project .project__demo {
  font-weight: 500;
  border-radius: 6px;
  margin-right: 10px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  width: fit-content;
  opacity: 0.6;
  transition: opacity 0.4s;
}
.wrapper .content .frame .info .info__body ul .project .project__code:hover, .wrapper .content .frame .info .info__body ul .project .project__view:hover, .wrapper .content .frame .info .info__body ul .project .project__demo:hover {
  opacity: 1;
}
.wrapper .content .frame .info .info__body ul .project .project__code {
  background-color: hsl(0, 20%, 50%);
}
.wrapper .content .frame .info .info__body ul .project .project__view {
  background-color: hsl(90, 20%, 50%);
}
.wrapper .content .frame .info .info__body ul .project .project__demo {
  background-color: hsl(200, 20%, 50%);
}
.wrapper .content .frame .info .info__body ul .project .project__links {
  margin-top: 5px;
}
.wrapper .content .frame .info .info__body ul .project .project__stack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 90%;
  margin-top: 10px;
}
.wrapper .content .frame .info .info__body ul .project .project__stack span {
  border: 1px solid #222;
  opacity: 0.7;
  color: #222;
}
.wrapper .content .frame .info .info__footer {
  font-weight: 500;
}
.wrapper .content .frame .info .info__footer a {
  text-decoration: none;
  color: orange;
}
.wrapper .content .frame .info .info__footer ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 10px;
}
.wrapper .content .frame .info .info__footer ul li {
  list-style-type: none;
  border-radius: 10px;
  opacity: 0.7;
  color: white;
}
.wrapper .content .frame .info .info__footer ul li.js {
  background-color: hsl(0, 20%, 50%);
}
.wrapper .content .frame .info .info__footer ul li.lang {
  background-color: hsl(30, 20%, 50%);
}
.wrapper .content .frame .info .info__footer ul li.java {
  background-color: hsl(90, 20%, 50%);
}
.wrapper .content .frame .info .info__footer ul li.pattern {
  background-color: hsl(140, 20%, 50%);
}
.wrapper .content .frame .info .info__footer ul li.mobile {
  background-color: hsl(200, 20%, 50%);
}
.wrapper .content .frame .info .info__footer ul li.back {
  background-color: hsl(260, 20%, 50%);
}
@media only screen and (max-width: 1024px) and (max-height: 700px) {
  .wrapper {
    grid-template-columns: 110px calc(100vw - 110px);
  }
  .wrapper .header {
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid rgba(119, 119, 119, 0.2);
  }
  .wrapper .header .menu {
    flex-direction: column;
    margin: 20px 10px;
    gap: 40px;
  }
  .wrapper .header .menu .menu__item {
    font-size: small;
    text-align: center;
  }
  .wrapper .header .menu .menu__item .item__line {
    height: 2px;
  }
  .wrapper .header .contacts {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .wrapper .header .contacts .contacts__link {
    flex-direction: column;
  }
  .wrapper .header .contacts .contacts__link span {
    font-size: x-small;
  }
  .wrapper .content {
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    height: 100vh;
  }
  .wrapper .frame {
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    padding-left: 15px;
  }
  .wrapper .frame .info {
    padding: 0;
  }
  .wrapper .frame .info__header {
    font-size: x-large;
    margin-bottom: 10px;
    margin-top: 34vh;
  }
  .wrapper .frame.exp .info__header {
    margin-top: 15px;
  }
  .wrapper .frame .marquee-container {
    padding: 0;
    line-height: 0.8;
    margin: 5px 5px 30px;
  }
  .wrapper .frame .marquee-container .marquee {
    margin: 5px;
  }
  .wrapper .frame .marquee-container .marquee span {
    font-size: xx-small;
  }
  .wrapper .frame .info__body {
    font-size: medium;
    margin-bottom: 10px;
  }
  .wrapper .frame .info__body .project .project__name {
    font-size: medium;
  }
  .wrapper .frame .info__body .project .project__code, .wrapper .frame .info__body .project .project__view, .wrapper .frame .info__body .project .project__demo {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__code i, .wrapper .frame .info__body .project .project__view i, .wrapper .frame .info__body .project .project__demo i {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__stack {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__stack span {
    padding: 4px 8px;
    border-radius: 10px;
  }
  .wrapper .frame .info__footer {
    font-size: small;
    margin-bottom: 30px;
  }
  .wrapper .frame .info__footer ul {
    gap: 5px;
  }
  .wrapper .frame .info__footer li {
    font-size: small;
    padding: 4px 8px;
  }
  .wrapper .frame .image {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.4);
  }
  .wrapper .frame .image img {
    height: 100%;
    width: auto;
  }
}
@media only screen and (min-width: 500px) and (max-width: 1024px) and (min-height: 700px) {
  .wrapper {
    grid-template-columns: 130px calc(100vw - 130px);
  }
  .wrapper .header {
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid rgba(119, 119, 119, 0.2);
  }
  .wrapper .header .menu {
    flex-direction: column;
    margin: 20px 10px;
    gap: 40px;
  }
  .wrapper .header .menu .menu__item {
    font-size: medium;
    text-align: center;
  }
  .wrapper .header .menu .menu__item .item__line {
    height: 3px;
  }
  .wrapper .header .contacts {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .wrapper .header .contacts .contacts__link {
    flex-direction: column;
  }
  .wrapper .header .contacts .contacts__link span {
    font-size: small;
  }
  .wrapper .content {
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    height: 100vh;
  }
  .wrapper .frame {
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    padding-left: 15px;
  }
  .wrapper .frame .info {
    padding: 0;
  }
  .wrapper .frame .info__header {
    font-size: xx-large;
    margin-bottom: 10px;
    margin-top: 55vw;
  }
  .wrapper .frame.exp .info__header {
    margin-top: 15px;
  }
  .wrapper .frame .marquee-container {
    padding: 0;
    line-height: 1.2;
    margin: 5px 5px 30px;
  }
  .wrapper .frame .marquee-container .marquee {
    margin: 10px;
  }
  .wrapper .frame .marquee-container .marquee span {
    font-size: small;
  }
  .wrapper .frame .info__body {
    font-size: large;
    margin-bottom: 10px;
  }
  .wrapper .frame .info__body .project .project__name {
    font-size: large;
  }
  .wrapper .frame .info__body .project .project__code, .wrapper .frame .info__body .project .project__view, .wrapper .frame .info__body .project .project__demo {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__code i, .wrapper .frame .info__body .project .project__view i, .wrapper .frame .info__body .project .project__demo i {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__stack {
    font-size: medium;
  }
  .wrapper .frame .info__body .project .project__stack span {
    padding: 4px 8px;
    border-radius: 10px;
  }
  .wrapper .frame .info__footer {
    font-size: medium;
    margin-bottom: 30px;
  }
  .wrapper .frame .info__footer ul {
    gap: 5px;
  }
  .wrapper .frame .info__footer li {
    font-size: large;
    padding: 4px 8px;
  }
  .wrapper .frame .image {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.4);
  }
  .wrapper .frame .image img {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 500px) and (min-height: 700px) {
  .wrapper {
    grid-template-columns: 115px calc(100vw - 115px);
  }
  .wrapper .header {
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid rgba(119, 119, 119, 0.2);
  }
  .wrapper .header .menu {
    flex-direction: column;
    margin: 20px 5px;
    gap: 40px;
  }
  .wrapper .header .menu .menu__item {
    font-size: smaller;
    text-align: center;
    letter-spacing: -0.2px;
  }
  .wrapper .header .menu .menu__item .item__line {
    height: 3px;
  }
  .wrapper .header .contacts {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .wrapper .header .contacts .contacts__link {
    flex-direction: column;
  }
  .wrapper .header .contacts .contacts__link span {
    font-size: x-small;
  }
  .wrapper .content {
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    height: 100vh;
  }
  .wrapper .frame {
    grid-template-rows: repeat(2, 1fr);
    position: relative;
  }
  .wrapper .frame .info {
    padding: 0;
  }
  .wrapper .frame .info__header {
    font-size: large;
    margin-bottom: 10px;
    margin-top: 60vw;
  }
  .wrapper .frame.exp .info__header {
    margin-top: 15px;
  }
  .wrapper .frame .marquee-container {
    padding: 0;
    line-height: 1.2;
    margin: 0px 0px 30px;
  }
  .wrapper .frame .marquee-container .marquee {
    margin: 5px;
  }
  .wrapper .frame .marquee-container .marquee span {
    font-size: x-small;
  }
  .wrapper .frame .info__body {
    font-size: small;
    margin-bottom: 10px;
  }
  .wrapper .frame .info__body .project .project__name {
    font-size: small;
  }
  .wrapper .frame .info__body .project .project__code, .wrapper .frame .info__body .project .project__view, .wrapper .frame .info__body .project .project__demo {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__code i, .wrapper .frame .info__body .project .project__view i, .wrapper .frame .info__body .project .project__demo i {
    font-size: x-small;
  }
  .wrapper .frame .info__body .project .project__stack {
    font-size: small;
  }
  .wrapper .frame .info__body .project .project__stack span {
    padding: 4px 8px;
    border-radius: 10px;
  }
  .wrapper .frame .info__footer {
    font-size: x-small;
    margin-bottom: 30px;
  }
  .wrapper .frame .info__footer ul {
    gap: 5px;
  }
  .wrapper .frame .info__footer li {
    font-size: x-small;
    padding: 4px 8px;
  }
  .wrapper .frame .image {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.4);
  }
  .wrapper .frame .image img {
    height: 100%;
    width: auto;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  .wrapper {
    grid-template-rows: 90px calc(100vh - 90px);
  }
  .wrapper .header {
    justify-content: space-around;
  }
  .wrapper .header .menu {
    gap: 20px;
  }
  .wrapper .header .menu .menu__item {
    font-size: large;
    letter-spacing: 0.7px;
  }
  .wrapper .header .menu .menu__item .item__line {
    height: 4px;
  }
  .wrapper .header .contacts .contacts__link {
    flex-direction: column;
  }
  .wrapper .header .contacts .contacts__link span {
    font-size: x-small;
  }
  .wrapper .content {
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
  }
  .wrapper .frame {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .frame .info {
    padding: 5%;
  }
  .wrapper .frame .info__header {
    font-size: x-large;
    margin-bottom: 20px;
  }
  .wrapper .frame .marquee-container {
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 10px;
  }
  .wrapper .frame .marquee-container .marquee span {
    font-size: small;
  }
  .wrapper .frame .info__body {
    font-size: medium;
    margin-bottom: 20px;
  }
  .wrapper .frame .info__body .project .project__name {
    font-size: x-large;
  }
  .wrapper .frame .info__body .project .project__code, .wrapper .frame .info__body .project .project__view, .wrapper .frame .info__body .project .project__demo {
    font-size: small;
  }
  .wrapper .frame .info__body .project .project__code i, .wrapper .frame .info__body .project .project__view i, .wrapper .frame .info__body .project .project__demo i {
    font-size: small;
  }
  .wrapper .frame .info__body .project .project__stack {
    font-size: small;
  }
  .wrapper .frame .info__body .project .project__stack span {
    padding: 5px 10px;
    border-radius: 10px;
  }
  .wrapper .frame .info__footer {
    font-size: small;
  }
  .wrapper .frame .info__footer ul {
    gap: 10px;
  }
  .wrapper .frame .info__footer li {
    padding: 5px 10px;
  }
  .wrapper .frame.about .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.about .image img {
    width: 90%;
    border-radius: 50%;
  }
  .wrapper .frame.skills .image {
    display: flex;
    filter: grayscale(0.5);
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.skills .image img {
    width: 90%;
    border-radius: 50%;
  }
  .wrapper .frame.edu .image {
    filter: grayscale(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.edu .image img {
    border-radius: 100px;
  }
  .wrapper .frame.hobby .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.hobby .image img {
    filter: brightness(1.2) grayscale(0.5);
    width: 90%;
    border-radius: 100px;
  }
}
@media only screen and (min-width: 1500px) {
  .wrapper {
    grid-template-rows: 64px calc(100vh - 64px);
  }
  .wrapper .header {
    justify-content: space-around;
  }
  .wrapper .header .menu {
    gap: 40px;
  }
  .wrapper .header .menu .menu__item {
    font-size: x-large;
  }
  .wrapper .header .menu .menu__item .item__line {
    height: 4px;
  }
  .wrapper .header .contacts .contacts__link span {
    font-size: small;
  }
  .wrapper .content {
    align-items: center;
  }
  .wrapper .frame {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .frame .info {
    padding: 5%;
  }
  .wrapper .frame .info__header {
    font-size: xxx-large;
    margin-bottom: 40px;
  }
  .wrapper .frame .marquee-container {
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 20px;
  }
  .wrapper .frame .marquee-container .marquee span {
    font-size: medium;
  }
  .wrapper .frame .info__body {
    font-size: x-large;
    margin-bottom: 40px;
  }
  .wrapper .frame .info__body .project .project__name {
    font-size: x-large;
  }
  .wrapper .frame .info__body .project .project__code, .wrapper .frame .info__body .project .project__view, .wrapper .frame .info__body .project .project__demo {
    font-size: medium;
  }
  .wrapper .frame .info__body .project .project__code i, .wrapper .frame .info__body .project .project__view i, .wrapper .frame .info__body .project .project__demo i {
    font-size: medium;
  }
  .wrapper .frame .info__body .project .project__stack {
    font-size: small;
  }
  .wrapper .frame .info__body .project .project__stack span {
    padding: 5px 10px;
    border-radius: 10px;
  }
  .wrapper .frame .info__footer {
    font-size: large;
  }
  .wrapper .frame .info__footer ul {
    gap: 10px;
    font-size: medium;
  }
  .wrapper .frame .info__footer li {
    padding: 5px 10px;
  }
  .wrapper .frame.about .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.about .image img {
    width: 90%;
    border-radius: 50%;
  }
  .wrapper .frame.skills .image {
    display: flex;
    filter: grayscale(0.5);
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.skills .image img {
    width: 90%;
    border-radius: 50%;
  }
  .wrapper .frame.edu .image {
    filter: grayscale(0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.edu .image img {
    border-radius: 100px;
  }
  .wrapper .frame.hobby .image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .frame.hobby .image img {
    filter: brightness(1.2) grayscale(0.5);
    width: 90%;
    border-radius: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
