doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Портфолио Веб-Разработчика Федоричев Лев Александрович
    meta(name="description", content="Портфолио веб-разработчика Федоричева Льва Александровича, включающее проекты, навыки и контактную информацию.")
    meta(name="keywords", content="Федоричев Лев, веб-разработчик, портфолио, front-end, back-end, разработка сайтов")
    meta(property="og:title", content="Портфолио Веб-Разработчика Федоричев Лев Александрович")
    meta(property="og:description", content="Портфолио веб-разработчика Федоричева Льва Александровича, включающее проекты, навыки и контактную информацию.")
    meta(property="og:image", content="image_link.jpg")
    meta(property="og:url", content="http://www.yourwebsite.com")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="Портфолио Веб-Разработчика Федоричев Лев Александрович")
    meta(name="twitter:description", content="Портфолио веб-разработчика Федоричева Льва Александровича, включающее проекты, навыки и контактную информацию.")
    meta(name="twitter:image", content="image_link.jpg")
    link(async rel="stylesheet", href="./out/style.css")
  body
    header
      nav
        ul
          li
            a(href="#projects") Проекты
          li.separator
          li
            a(href="#exp") Опыт
          li.separator
          li
            a(href="#skills") Навыки
          li.separator
          li
            a(href="#about") Главная
    main
      section.active#about
        .back
        .content
          .content__part
            h3 Федоричев Лев
            p.list Специализируюсь на мобильной и веб разработке
            p.list Основал и руковожу командой разработки GasuDev
            p.list Поддерживаю проекты в сфере образования и стартап Инношкола
            .links
              a.link-circle(aria-label="Github" href= "https://github.com/FollowTheOwlets" style="--url: url('../files/img/links/github.svg');")
              a.link-circle(aria-label="GasuDev" href= "https://dev.spbgasu.ru" style="--url: url('../files/img/links/gasudev.svg');")
              a.link-circle(aria-label="Инношкола" href= "https://ит.инношкола.рф" style="--url: url('../files/img/links/innoshkola.svg');")
              a.link-circle(aria-label="Telegram" href= "https://t.me/teamlead_gasu" style="--url: url('../files/img/links/telegram.svg');")
          .content__part
            .image(style="--url: url('../files/img/about.webp');")
      section#skills
        .back
        .content
          .content__part
            h3 
              |Гибкость и 
              br
              |масштабируемость
            p.list(style="text-transform:uppercase;") Design patterns
            p.list(style="text-transform:uppercase;") Code Review
            p.list(style="text-transform:uppercase;") Software architecture
            p.list(style="text-transform:uppercase;") Mentoring
          .content__part
            ul.skills-list
              li.black.xxl TypeScript
              li.black Java
              li.black.s C++
              li.white NestJS
              li.white Spring
              li.white Express
              li.black.xl PostgreSQL
              li.black SQLite
              li.black.m Redis
              li React
              li.m Pug
              li.xl Vaadin
              li.black.s Qt
              li.black.xl JavaFx
              li.black.xl Android
              li.white Gulp
              li.white Maven
              li.white Webpack
              li.xxl Docker
              li.m Git
              li.m Jira
      section#exp
        .back
        .content 
          .content__part
            ul.work-grid
              li.comp СПБГАСУ УИТ
              li.year 2021 - 2023
              li.description Веб разработчик
              li.comp IT School CodeSpace
              li.year 2022 - 2024
              li.description Технический директор
              li.comp GasuDev
              li.year 2023 - ...
              li.description Руководитель команды - TeamLead
              li.comp АИСА
              li.year 2023 - ...
              li.description Веб-разработчик
          .content__part
            h3 Решаемые задачи
            p.list Разработка LMS платформ с нуля
            p.list Поддержка приложений на проме
            p.list Разработка сервисов для работы с ЦЭП
            p.list Администрирование и развертывание приложений
      section#projects
        .back
        .content 
          .projects 
            .projects__icons-list
              .logo.active(style="--url: url('../files/img/logos/gasubuild.png');" data-active='gasubuild') 
              .logo(style="--url: url('../files/img/logos/aisbpek.svg');" data-active='aisbpek')  
              .logo(style="--url: url('../files/img/logos/gasu-app.png');" data-active='gasu-app')
              .logo(style="--url: url('../files/img/logos/doc-service.svg');" data-active='doc-service') 
              .logo(style="--url: url('../files/img/logos/kidhub.svg');" data-active='kidhub')  
              .logo(style="--url: url('../files/img/logos/codespace.svg');" data-active='codespace')  
              .logo(style="--url: url('../files/img/logos/gasudev.svg');" data-active='gasudev')  
            .projects__blocks-list 
              .projects__block.gasubuild.active
                .header 
                  h3 GasuBuild
                  a.link( target="_blank" aria-label="SmallBuild" href= "https://gasu.neocities.org")
                p.role Руководитель проекта. Старший разработчик
                .description 
                  p.status Релиз
                  p Симулятор жизненного цикла строительной фирмы. Выполнено по заказу ФЭУ СПБГАСУ.
              .projects__block.doc-service
                .header
                  h3 Док Сервис
                p.role Собственная разработка
                .description  
                  p.status Релиз
                  p Приложение для выдачи сертификатов об обучении подписанных ЭЦП. Выполнено для использования IT школой CodeSpace.
              .projects__block.kidhub
                .header
                  h3 KidHub
                p.role Собственная разработка
                .description 
                  p.status Демо тестирование
                  p LMS система с интерактивными модулями и корпоративная платформа. Разрабатывается по заказу ООО Инношкола.
              .projects__block.aisbpek
                .header
                  h3 АИСПБ-ЭК
                p.role Веб разработчик
                .description 
                  p.status Активная разработка
                  p Программное обеспечение для обслуживания документооборота Комитета финансов Санкт-Петербурга.
              .projects__block.gasu-app
                .header 
                  h3 GASU app
                p.role Руководитель проекта. Архитектор
                .description 
                  p.status Старт разработки
                  p Мобильное приложение университета, включающее интеграции с LMS Moodle и 1C сервисами университета.
              .projects__block.codespace
                .header 
                  h3 Сайт CodeSpace
                  a.link( target="_blank" aria-label="codespace_link" href= "https://ит.инношкола.рф")
                p.role Собственная разработка
                .description 
                  p.status Релиз
                  p Сайт IT школы CodeSpace. Содержит панель администратора для обработки заявок с telegram бота и самого сайта.
              .projects__block.gasudev
                .header 
                  h3 Сайт GasuDev
                  a.link( target="_blank" aria-label="gasudev_link" href= "https://dev.spbgasu.ru")
                p.role Собственная разработка
                .description 
                  p.status Релиз
                  p Сайт команды разработки GasuDev.
    footer
      p © 2024 FollowTheOwlets
    script(src="./out/index.js") 