doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Портфолио Веб-Разработчика Федоричев Лев Александрович
    meta(name="description", content="Портфолио веб-разработчика Федоричева Льва Александровича, включающее проекты, навыки и контактную информацию.")
    meta(name="keywords", content="Федоричев Лев, веб-разработчик, портфолио, front-end, back-end, разработка сайтов")
    meta(property="og:title", content="Портфолио Веб-Разработчика Федоричев Лев Александрович")
    meta(property="og:description", content="Портфолио веб-разработчика Федоричева Льва Александровича, включающее проекты, навыки и контактную информацию.")
    meta(property="og:image", content="image_link.jpg")
    meta(property="og:url", content="http://www.yourwebsite.com")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:title", content="Портфолио Веб-Разработчика Федоричев Лев Александрович")
    meta(name="twitter:description", content="Портфолио веб-разработчика Федоричева Льва Александровича, включающее проекты, навыки и контактную информацию.")
    meta(name="twitter:image", content="image_link.jpg")
    link(async rel="stylesheet", href="./out/style.css")
  body
    header
      nav
        ul
          li
            a(href="#projects") Проекты
          li.separator
          li
            a(href="#exp") Опыт
          li.separator
          li
            a(href="#skills") Навыки
          li.separator
          li
            a(href="#about") Главная
    main
      section.active#about
        .back
        .content
          .content__part
            h3 Федоричев Лев
            p.list BackLead и TechLead кроссплатформенных команд
            p.list Основал и руковожу командой разработки GasuDev
            p.list Занимал роли ведущего разработчика в командах Сбербанка, Рольфа и Ситилаба
            p.list Поддерживаю проекты в сфере EduTech
            .links
              a.link-circle(aria-label="Github" href= "https://github.com/FollowTheOwlets" style="--url: url('../files/img/links/github.svg');")
              a.link-circle(aria-label="GasuDev" href= "https://dev.spbgasu.ru" style="--url: url('../files/img/links/gasudev.svg');")
              a.link-circle(aria-label="Telegram" href= "https://t.me/fedorichev_o" style="--url: url('../files/img/links/telegram.svg');")
          .content__part
            .image(style="--url: url('../files/img/about.webp');")
      section#skills
        .back
        .content
          .content__part
            h3 
              |Гибкость и 
              br
              |масштабируемость
            p.list(style="text-transform:uppercase;") Design patterns
            p.list(style="text-transform:uppercase;") Code Review
            p.list(style="text-transform:uppercase;") Software architecture
            p.list(style="text-transform:uppercase;") Mentoring
            p.list(style="text-transform:uppercase;") Extremal MVP
          .content__part
            ul.skills-list
              li.black.xl TypeScript
              li.black.m Java
              li.black Kotlin
              li.white NestJS
              li.white Spring
              li.white Express
              li.black.xl PostgreSQL
              li.black Kafka
              li.black.m Redis
              li.m MongoDB
              li Type ORM
              li.xl Jest
              li.black.s Swagger
              li.black.xl gRPC
              li.black.xl GraphQL
              li.white.m ELK
              li.white Saga
              li.white.xl Inbox Outbox
              li.xl OpenShift
              li.m K8s
              li Gitlab CI
      section#exp
        .back
        .content 
          .content__part
            ul.work-grid
              li.comp СПБГАСУ УИТ
              li.year 1 год
              li.description Веб разработчик
              li.comp GasuDev
              li.year 3 года
              li.description
                | Middle JS Developer
                i.part(style="padding: 0.2pm;font-") 2/3
              li.description
                | Senior JS Developer (Lead)
                i.part(style="padding: 0.2pm;font-") 1/3
              li.comp IT School CodeSpace
              li.year 2 года
              li.description TechLead
              li.comp RolfTech
              li.year По н.в.
              li.description BackLead Developer
          .content__part
            h3 Решенные задачи
            p.list
              | Со своей командой разработал LMS
              br
              | и сервис видеоконференций KidsChat
            p.list Разработал и защитил проект инфраструктуры оркестрации SaaS Flora в RolfTech
            p.list Создал IT отдел студенческой активной разработки в СПБГАСУ
            p.list
              | Совместно с разработкой сервиса выпуска сертификатов
              br
              | реализовал библиотеку для построения таких сервисов
              br
              | и инициировал продажу нескольких MVP
      section#projects
        .back
        .content 
          .projects 
            .projects__icons-list
              .logo.active(style="background-color:white;--url: url('../files/img/logos/rolf.png');" data-active='rolf')
              .logo(style="--url: url('../files/img/logos/gasubuild.png');" data-active='gasubuild')
              .logo(style="--url: url('../files/img/logos/gasu-app.png');" data-active='gasu-app')
              .logo(style="--url: url('../files/img/logos/doc-service.svg');" data-active='doc-service')
              .logo(style="--url: url('../files/img/logos/kidhub.svg');" data-active='kidhub')
            .projects__blocks-list
              .projects__block.gasubuild
                .header 
                  h3 GasuBuild
                  a.link( target="_blank" aria-label="SmallBuild" href= "https://gasu.neocities.org")
                p.role Инди разработка
                .description 
                  p.status Релиз
                  p Симулятор жизненного цикла строительной фирмы. Выполнено по заказу ФЭУ СПБГАСУ.
              .projects__block.doc-service
                .header
                  h3 Док Сервис
                p.role BackLead
                .description  
                  p.status Релиз
                  p Приложение для выдачи сертификатов об обучении подписанных ЭЦП. Выполнено для использования IT школой CodeSpace.
              .projects__block.kidhub
                .header
                  h3 KidHub
                p.role BackLead
                .description 
                  p.status Релиз
                  p LMS система с интерактивными модулями и корпоративная платформа. Разрабатывается по заказу ООО Инношкола.
              .projects__block.gasu-app
                .header 
                  h3 GASU app
                p.role Руководитель проекта. Senior Fullstack Developer
                .description 
                  p.status Релиз
                  p Мобильное приложение университета, включающее интеграции с LMS Moodle и 1C сервисами университета.
              .projects__block.rolf.active
                .header
                  h3 RolfTech
                p.role BackLead Developer
                .description
                  p.status Разработка оркестратора и лидерство над другими разработчиками
                  p SaaS платформа для продажи автомобилей
    footer
      p © 2024 FollowTheOwlets
    script(src="./out/index.js") 