@import '../src/fonts.css';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

:root {
    --charcoal: #1a1818;
    --offwhite: #ece3e1;
    --white: white;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Geologica';
    font-weight: 400;
    box-sizing: border-box;
    display: flex;

    background: linear-gradient(180deg, var(--white), var(--offwhite));
    color: var(--charcoal);

    cursor: url('../files/cursors/arrow.png'), auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--charcoal);
    cursor: url('../files/cursors/link.png'), auto;
}

a.link-circle {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    background-image: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    padding: 0.5rem;
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    ul {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        display: flex;
        align-items: center;
        gap: 1rem;

        .separator {
            height: 2rem;
            width: 1px;
            background-color: var(--charcoal);
        }

        a {
            position: relative;
            top: 0px;
            transition: top 0.2s;
        }

        a:hover {
            font-style: italic;
            top: 8px;
        }
    }
}

main {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;

    section {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        .back {
            opacity: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(0);

            background-position: top;
            background-repeat: no-repeat;
            background-size: contain;

            transition: opacity 0.6s, transform 0.6s;
        }

        &.active {
            .back {
                opacity: 1;
                transform: scale(1);
            }
        }

        .content {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            align-content: center;
            gap: 1rem;

            .content__part {
                padding: 1rem;
                border-radius: 0.4rem;
                backdrop-filter: blur(10px);
                overflow: hidden;

                h3 {
                    margin-bottom: 1rem;
                    font-weight: 800;
                    font-size: 2rem;
                }

                .list {
                    margin-bottom: 0.6rem;
                    &::before {
                        content: '◈';
                        margin-right: 0.2rem;
                    }
                }

                .image {
                    width: 20rem;
                    height: 20rem;

                    background-image: var(--url);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    border-radius: 50%;
                }

                .links {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    justify-content: flex-end;

                    a {
                        opacity: 0.7;
                        transition: opacity 0.2s;
                    }

                    a:hover {
                        opacity: 1;
                    }
                }

                .skills-list {
                    display: grid;
                    grid-template-columns: repeat(9, 1fr);
                    margin-bottom: 2rem;
                    max-width: 28rem;
                    gap: 1rem;

                    li {
                        grid-column: span 3;
                        padding: 0.5rem 1rem;
                        border: 1px solid var(--charcoal);
                        color: var(--charcoal);
                        border-radius: 0.2rem;
                        text-align: center;

                        &.black {
                            background-color: var(--charcoal);
                            border: 1px solid var(--charcoal);
                            color: var(--offwhite);
                        }

                        &.white {
                            background-color: var(--offwhite);
                            border: 1px solid var(--offwhite);
                            color: var(--charcoal);
                        }

                        &.s {
                            grid-column: span 1;
                        }

                        &.m {
                            grid-column: span 2;
                        }

                        &.xl {
                            grid-column: span 4;
                        }
                        &.xxl {
                            grid-column: span 5;
                        }
                    }
                }

                .work-grid {
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    margin-bottom: 2rem;

                    li {
                        padding: 0.5rem 1rem;
                        color: var(--charcoal);
                        border-bottom: 1px solid var(--offwhite);
                        text-align: left;
                        &.comp {
                            grid-column: span 6;
                        }
                        &.year {
                            grid-column: span 4;
                            text-align: right;
                        }
                        &.description {
                            grid-column: span 10;
                            border-bottom: 1px solid var(--charcoal);
                            margin-bottom: 1rem;
                            font-weight: 800;
                        }
                    }
                }
            }

            .content__part:has(.work-grid) {
                flex-grow: 1;
            }

            .content__part:has(.image) {
                padding: 0;
                backdrop-filter: blur(0);
            }

            .projects {
                max-width: 60rem;
                min-width: 40vw;
                z-index: 2;

                &__icons-list {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    margin-bottom: 2rem;
                }

                .logo {
                    width: 3rem;
                    height: 3rem;
                    overflow: hidden;
                    border-radius: 0.4rem;

                    background-image: var(--url);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    opacity: 0.5;
                    transition: opacity 0.4s;
                }

                .logo:hover {
                    opacity: 1;
                }

                .logo.active {
                    opacity: 1;
                }

                &__blocks-list {
                    height: 18rem;
                    position: relative;
                }

                &__block {
                    position: absolute;
                    padding: 0.5rem;
                    border-radius: 0.4rem;
                    height: 100%;
                    backdrop-filter: blur(10px);
                    overflow: hidden;
                    display: none;
                    z-index: 1;
                }

                &__block.active {
                    z-index: 2;
                    display: block;
                    animation: 0.6s project-anim forwards;
                }

                &__block.deactive {
                    z-index: 2;
                    display: block;
                    animation: 0.6s project-anim-deactive forwards;
                }

                @keyframes project-anim-deactive {
                    0% {
                        display: block;
                        transform: translate(0, 0);
                    }
                    99% {
                        display: block;
                        transform: translate(100vw, 0);
                    }
                    100% {
                        display: none;
                        transform: translate(100vw, 0);
                    }
                }

                @keyframes project-anim {
                    0% {
                        display: none;
                        transform: translate(-100vw, 0);
                    }
                    1% {
                        display: block;
                        transform: translate(-100vw, 0);
                    }
                    100% {
                        display: block;
                        transform: translate(0, 0);
                    }
                }

                .header {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    h3 {
                        background-color: var(--charcoal);
                        border: 1px solid var(--charcoal);
                        color: var(--offwhite);
                        padding: 0.5rem 1rem;
                        border-radius: 0.4rem;
                    }
                }
                .header,
                p {
                    margin-bottom: 0.4rem;
                }

                .role {
                    font-weight: 800;

                    background-color: var(--offwhite);
                    border: 1px solid var(--offwhite);
                    color: var(--charcoal);
                    padding: 0.5rem 1rem;
                    border-radius: 0.4rem;
                }

                .description {
                    background-color: var(--offwhite);
                    border: 1px solid var(--offwhite);
                    color: var(--charcoal);
                    padding: 0.5rem 1rem;
                    border-radius: 0.4rem;
                }

                .status {
                    font-weight: 600;
                    text-decoration: underline;
                }

                .link {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    opacity: 0.6;
                    transition: opacity 0.4s;

                    background-image: url('/./files/img/link.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #about .back {
        background-image: url('../files/img/backs/about-back.svg');
    }

    #skills .back {
        background-image: url('../files/img/backs/skills-back.svg');
    }

    #exp .back {
        background-image: url('../files/img/backs/exp-back.svg');
    }

    #projects .back {
        background-image: url('../files/img/backs/projects-back.svg');
    }
}

footer {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 0.5rem;
}

@media (width < 500px) {
    html {
        font-size: 12px;
    }

    main section .content {
        .projects {
            min-width: 20rem;
        }

        .projects__block {
            backdrop-filter: blur(4px);
        }
        .content__part {
            backdrop-filter: blur(4px);
            flex-grow: 1;

            .work-grid,
            .skills-list {
                width: 100%;
                max-width: 100%;
            }
        }

        .content__part:has(.image) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (height < 700px) {
    main section .content {
        &:not(:has(.projects)) {
            align-content: flex-end;
            padding-bottom: 1rem;
        }
    }
}
